@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#skills {
  background-image: url(../img/windMachine.jpg);
  background-size: cover;
}

#skills .Container {
  background-color: rgba(54, 51, 51, 0.1);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 10px;
  color: #fff;
}

#skills .Container h1 {
  font-size: 2rem;
  text-align: center;
  margin: 50px 0 40px;
  color: #c7fcff;
  font-weight: 500;
}

#skills .Container .col-12 {
  width: 100%;
  font-size: 25px;
  position: relative;
}

#skills .Container .col-12 .skillSum {
  text-align: center;
}

#skills .Container .col-12 .skillSum li {
  width: 80%;
  padding: 10px 20px;
  margin: 0 auto 40px;
  border: 2px solid rgba(0, 49, 52, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  display: flex;
  justify-content: left;
  transition: all 0.5s;
}

#skills .Container .col-12 .skillSum li:hover {
  background: linear-gradient(to right, rgba(251, 189, 97, 0.8), rgba(236, 117, 50, 0.8));
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.1);
}

#skills .Container .col-12 .skillSum li .skillUnit {
  width: 170px;
  font-size: 18px;
  font-weight: 500;
  color: #c7fcff;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

#skills .Container .col-12 .skillSum li .skillUnit i {
  font-size: 0.6em;
  margin-right: 20px;
}

#skills .Container .col-12 .skillSum li .itemsSkill {
  font-weight: 400;
  width: 150px;
  height: 50px;
  margin-right: 15px;
  border: 2px solid rgba(0, 49, 52, 0.7);
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 49, 52, 0.7);
  font-size: 16px;
}

#skills .Container .col-12 .skillSum li .itemsSkill i {
  font-size: 1.8rem;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive {
  width: 85%;
  padding: 15px 20px;
  margin: 0 auto 20px;
  border: 2px solid rgba(0, 49, 52, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 75px;
  text-align: center;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collHeader {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 3.5rem;
  line-height: 1.25rem;
  margin: 0 auto;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collHeader::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: all 0.3s ease-in-out;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collHeader .skillUnit {
  width: 60%;
  font-size: 18px;
  font-weight: 500;
  color: #c7fcff;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collHeader i {
  font-size: 0.5em;
  margin-right: 20px;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collBody {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collBody .collBodyContent {
  padding: 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collBody .collBodyContent .itemsSkill {
  margin: 5px;
  text-align: center;
  padding: 25px 0;
  width: 150px;
  height: 40px;
  margin-right: 15px;
  border: 2px solid rgba(0, 49, 52, 0.7);
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 49, 52, 0.7);
  font-size: 14px;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collBody .collBodyContent .itemsSkill i {
  font-size: 1.5em;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive {
  align-items: center;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collHeader.active {
  display: flex;
  width: 100%;
  align-items: center;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collHeader.active .skillUnit {
  font-size: 18px;
  font-weight: 500;
  color: #c7fcff;
  align-items: center;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collHeader.active::after {
  content: "\2212";
  font-size: 2rem;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

#skills .Container .col-12 .skillSumReponsive {
  display: none;
}

#skills .Container .col-12 .skillSumReponsive .collReponsive .collHeader.active + .collBody {
  max-height: 500px;
}

@media only screen and (max-width: 768px) {
  #skills .Container .row .col-12 .skillSum {
    display: none;
  }
  #skills .Container .row .col-12 .skillSumReponsive {
    display: block;
  }
}

#about {
  padding-bottom: 100px;
  z-index: 100;
  position: relative;
}

.Container .title {
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid #fbbd61;
  width: 250px;
  color: #444;
}

.Container .title:after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #ec7532;
  margin: auto;
  display: block;
}

.Container .grid {
  margin: 0 auto;
  width: 85%;
  line-height: 1.2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.Container .grid .aboutsContent {
  text-align: justify;
  margin-top: 15px;
  color: #181818;
}

.Container .grid .aboutsContent h3 {
  color: #444;
}

.Container .grid .aboutsContent p {
  font-size: 16px;
}

.Container .grid .aboutsContent .infoGrid {
  font-size: 16px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-bottom: 40px;
}

.Container .grid .aboutsContent .infoGrid label {
  font-weight: 700;
  color: #444;
}

.Container .grid .aboutsContent button {
  box-shadow: 0px 0px 5px 0px black;
  margin: 0 auto;
  border: none;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  transition: all 0.5s;
}

.Container .grid .aboutsContent button a {
  color: white;
}

.Container .grid .aboutsContent button:hover {
  background: linear-gradient(to right, rgba(251, 189, 97, 0.8), rgba(236, 117, 50, 0.7));
}

.Container .grid .aboutImage {
  position: relative;
}

.Container .grid .aboutImage::after {
  content: "";
  width: 293px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fbbd61;
  transform: skewX(15deg);
  z-index: -1;
}

.Container .grid .aboutImage::before {
  content: "";
  width: 293px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ec7532;
  transform: skewY(25deg);
  z-index: -1;
}

.Container .grid .aboutImage img {
  border: 0.5px solid black;
  box-shadow: 2px 2px 20px 2px #000;
  border-radius: 7px;
  width: 293px;
  height: 450px;
}

.down-cv {
  color: #ffffff !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 768px) {
  #about .grid {
    display: block;
    text-align: center;
  }
  #about .aboutImage::after {
    display: none;
  }
  #about .aboutImage::before {
    display: none;
  }
  #about .aboutsContent {
    text-align: center;
    display: block;
  }
  #about .infoGrid {
    display: block;
  }
}

.containerFluid {
  width: 100%;
}

.Container {
  width: 90%;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  z-index: 1000;
  background: #212529;
  color: white;
  transition: all 0.3s ease-in-out;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  background: transparent;
  transition: 0.2s all ease-in-out;
  position: absolute;
  z-index: 999;
  width: 100%;
}

header .Container {
  display: flex;
  justify-content: space-between;
}

header .icon {
  font-size: 2.5rem;
  color: white;
  width: 75px;
  height: 75px;
  float: right;
  display: none;
  cursor: pointer;
}

header .icon i {
  padding-top: 20px;
}

header .nameNhan {
  display: flex;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding-top: 20px;
  color: #e65613;
  font-weight: 700;
  height: 75px;
  width: 250px;
}

header .nameNhan span {
  display: table-cell;
  margin: 1px;
  padding: 0;
  animation: animate 2s linear infinite;
}

header .nameNhan span:nth-child(1) {
  animation-delay: 0s;
}

header .nameNhan span:nth-child(2) {
  animation-delay: 0.35s;
}

header .nameNhan span:nth-child(3) {
  animation-delay: 0.7s;
}

header .nameNhan span:nth-child(4) {
  animation-delay: 1.05s;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

header nav ul li a {
  letter-spacing: 0.2px;
  display: inline-block;
  height: 40px;
  line-height: 65px;
  color: #fff;
  text-decoration: none;
  color: #f7f8fa;
  font-size: 0;
  font-weight: 600;
  font-size: 17px;
  padding: 0 10px;
  transition: all 0.5s;
}

header nav ul li a:hover {
  color: #ec5252;
  font-size: 0;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .Container nav ul li a {
    padding: 0 6px;
  }
}

@media only screen and (max-width: 768px) {
  .Container {
    justify-items: center;
  }
  .Container nav {
    position: absolute;
    top: 80px;
    left: -100%;
    text-align: center;
    background-color: rgba(61, 60, 60, 0.9);
    width: 60%;
    height: 300px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin: 0 auto;
    padding-left: 0;
    justify-items: center;
  }
  .Container nav ul {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: block;
    text-align: center;
  }
  .Container nav ul li {
    margin: 0 auto;
  }
  .Container nav ul li a {
    padding: 0 0;
  }
  .Container .icon {
    display: block;
    cursor: pointer;
  }
  .Container .active {
    left: 20%;
    display: block;
    position: fixed;
    z-index: 101;
  }
}

.activePosition {
  color: red;
}

@keyframes animate {
  0%,
  100% {
    color: #832402;
    filter: blur(2px);
    text-shadow: 0 0 10px #ff7b00, 0 0 20px #ff7b00, 0 0 40px #ff7b00, 0 0 80px #ff7b00, 0 0 120px #ff7b00, 0 0 200px #ff7b00, 0 0 300px #ff7b00, 0 0 400px #ff7b00;
  }
  5%,
  95% {
    color: #fc7c55;
    filter: blur(0px);
  }
}

section {
  min-height: 100vh;
  box-sizing: border-box;
}

.bannerSection {
  background-image: url(../img/grassfield.jpg);
  background-size: cover;
  position: relative;
}

.bannerSection .bannerBg {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  justify-items: center;
}

.bannerSection .bannerBg .centerItems {
  position: absolute;
  top: 30%;
  left: 51%;
}

.bannerSection .bannerBg .centerItems .mouseContent {
  transform: translateX(-41%);
}

.bannerSection .bannerBg .centerItems .mouseContent ::after {
  content: "";
  width: 5px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 5%;
  left: 44%;
  border-radius: 10px;
  animation: drag 1.25s linear infinite;
}

.bannerSection .bannerBg .centerItems .mouseContent .mouseIcon {
  position: relative;
  height: 70px;
  width: 40px;
  border-radius: 100px;
  border: 1.5px solid #fff;
  margin: 50px auto 0;
}

.bannerSection .bannerBg .centerItems .iconText {
  transform: translateX(-41%);
  justify-content: center;
  display: inline-block;
}

.bannerSection .bannerBg .centerItems .iconText h2 {
  font-size: 20px;
  color: #fff;
  border-bottom: 2px solid #fff;
  font-weight: 700;
  margin: 3px auto 15px;
}

.bannerSection .bannerBg .centerItems .iconText a {
  height: 20px;
  margin-top: 20px;
  padding: 5px 8px;
  border: 2px solid white;
  transition: all 0.5s;
}

.bannerSection .bannerBg .centerItems .iconText a:hover {
  background-color: rgba(243, 45, 78, 0.5);
}

.bannerSection .bannerBg .centerItems .iconText a i {
  color: #fff;
}

.bannerSection .bannerBg .centerItems .bannerIcons {
  position: absolute;
  top: 70%;
  left: 46%;
}

.bannerSection .bannerBg .centerItems .userImage {
  transform: translateX(-41%);
  height: 180px;
  width: 190px;
  overflow: hidden;
  border: 5px solid #ffffff;
  border-radius: 200px;
}

.bannerSection .bannerBg .centerItems .userImage img {
  width: 100%;
  height: 100%;
}

.bannerSection .canvasJS {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  display: block;
  transition: all 0.5s;
}

@keyframes drag {
  0% {
    opacity: 0;
    top: 5%;
  }
  20% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  80% {
    top: 15%;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.myresume-Section h1 {
  font-size: 3.3rem;
  text-align: center;
  margin: 10px 0 0;
  color: rgba(0, 49, 52, 0.9);
  font-weight: 500;
}

.myresume-Section .time-Line {
  position: relative;
  margin: 50px auto;
  padding: 0;
  width: 90%;
}

.myresume-Section .time-Line::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 45px 35px 30px;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(odd) {
  float: left;
  text-align: left;
  clear: both;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(odd) h3 {
  text-align: right;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 14px;
  width: 10px;
  height: 10px;
  background: #e94921;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(245, 140, 108, 0.2);
}

.myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
  padding: 20px 10px;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(even) h3 {
  text-align: left;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 24px;
  left: -23.3px;
  width: 10px;
  height: 10px;
  background: #e94921;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(245, 140, 108, 0.2);
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent {
  padding: 20px;
  border: 3px dashed #003134;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent .time {
  padding-top: 10px;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent .time h4 {
  color: #9c9a9a;
  font-size: 12px;
  text-align: right;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #e94921;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent .resume-item {
  list-style-type: circle;
  padding: 10px;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent .resume-item li {
  text-align: left;
  padding: 5px 0;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent:hover {
  transform: scale(1.03);
  background: linear-gradient(to right, rgba(251, 189, 97, 0.8), rgba(236, 117, 50, 0.8));
  color: #1b1b1b;
  border: 2px solid #003134;
  position: relative;
  box-shadow: 10px 10px 10px 5px rgba(26, 25, 25, 0.5);
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent:hover h3 {
  color: #0c2968;
}

.myresume-Section .time-Line .timeLine-main .timeLine-item .resumeContent:hover .time h4 {
  color: #003134;
}

@media only screen and (max-width: 768px) {
  .myresume-Section .time-Line {
    width: 100%;
  }
  .myresume-Section .time-Line::before {
    left: 20px;
  }
  .myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(odd), .myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(even) {
    padding: 0 0;
    width: 100%;
    float: left;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 40px;
  }
  .myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(odd) h3, .myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(even) h3 {
    text-align: left;
  }
  .myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(odd)::before, .myresume-Section .time-Line .timeLine-main .timeLine-item:nth-child(even)::before {
    content: "";
    left: -23.3px;
  }
}

#portfolio {
  background: #fff;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

#portfolio h1 {
  margin-top: 20px;
  text-align: center;
}

#portfolio .portfolio_container .swiper-button-prev,
#portfolio .portfolio_container .swiper-button-next {
  position: absolute;
  top: 35%;
  margin-left: 10%;
  margin-right: 10%;
}

.swiper-container {
  margin-top: 100px;
  width: 60%;
  height: 80%;
  position: absolute;
  align-items: center;
  text-align: center;
  left: 20%;
  margin: 0 auto;
}

.swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper:hover .slide_content {
  transform: translateX(0) translateY(0);
  z-index: 100;
}

.swiper-container .swiper-wrapper .slide_project {
  align-items: center;
}

.swiper-container .swiper-wrapper .slide_content {
  overflow: hidden;
  width: 50%;
  position: absolute;
  bottom: 5%;
  right: 0%;
  background-color: rgba(73, 72, 72, 0.8);
  padding: 20px 10px;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  transform: translateX(-400px) translateY(700px);
  transition: all 0.5s ease-in-out;
}

.swiper-container .swiper-wrapper .slide_content a {
  box-shadow: 5px 5px 2px 2px #2e2d2d;
  width: 150px;
}

.swiper-container .swiper-wrapper .slide_content ul {
  text-align: left;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  margin-top: 2%;
  position: relative;
}

.swiper-container .swiper-wrapper .swiper-slide .slide_img1 {
  background: url(../img/Fiverr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 80%;
  width: 90%;
  border: 1px solid black;
  box-shadow: 4px 4px 10px 5px #2b2a2a;
  border-radius: 10px;
  margin: auto;
}

.swiper-container .swiper-wrapper .swiper-slide .slide_img2 {
  background: url(../img/CyberFilm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 80%;
  width: 90%;
  border: 1px solid black;
  box-shadow: 5px 4px 10px 5px #2b2a2a;
  border-radius: 10px;
  margin: auto;
}

.swiper-container .swiper-wrapper .swiper-slide .slide_img3 {
  background: url(../img/NhanPortfolio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 80%;
  width: 90%;
  border: 1px solid black;
  box-shadow: 4px 4px 10px 5px #2b2a2a;
  border-radius: 10px;
  margin: auto;
}

.swiper-container .swiper-wrapper .swiper-slide .slide_img4 {
  background: url(../img/Game.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 80%;
  width: 90%;
  border: 1px solid black;
  box-shadow: 4px 4px 10px 5px #2b2a2a;
  border-radius: 10px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .portfolio_container .swiper-container .swiper-wrapper .swiper-slide .slide_project {
    width: 90%;
  }
  .portfolio_container .swiper-container .swiper-wrapper .swiper-slide .slide_project .slide_content {
    width: 90%;
    height: 80%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5%;
    overflow: hidden;
  }
}

#Contact {
  background: linear-gradient(to bottom, white, rgba(245, 220, 205, 0.8));
  z-index: 100;
  position: relative;
}

#Contact .container {
  text-align: center;
}

#Contact .container .contactContent {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

#Contact .container .contactContent .socialGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#Contact .container .contactContent .socialGrid div {
  text-align: center;
  border: 1px solid black;
  width: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5%;
  margin: 0 5px;
  transition: all 0.5s;
  cursor: pointer;
}

#Contact .container .contactContent .socialGrid div a {
  text-decoration: none;
  color: black;
}

#Contact .container .contactContent .socialGrid div i {
  text-align: center;
  font-size: 20px;
  color: black;
}

#Contact .container .contactContent .socialGrid div:hover {
  background: #ec7532;
  color: white;
}

#Contact .container .contactContent .socialGrid div:hover i {
  color: white;
}

#Contact .container .contactContent .box {
  padding: 15px;
  box-shadow: 0 0 15px 0 #00000021;
  background-color: white;
  border-radius: 10px;
}

#Contact .container .contactContent .box h3 {
  font-weight: 700px;
  font-size: 16px;
  text-transform: uppercase;
}

#Contact .container .contactContent .box p {
  font-size: 16px;
}

#Contact .container .contactContent .box .contactIcons {
  align-items: center;
  font-size: 40px;
  color: #f06819;
}

#Contact .container .contactMap {
  position: relative;
  margin-top: 25px;
  box-shadow: 0 0 15px 0 #00000021;
  width: 100%;
}

#Contact .container .contactMap .form {
  position: absolute;
  top: 15px;
  right: 15px;
  min-height: 400px;
  box-shadow: 0 0 15px 0 #00000021;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 15px;
  background-color: white;
}

#Contact .container .contactMap .form textarea {
  height: 240px;
  outline: none;
  border: 1px solid orange;
}

#Contact .container .contactMap .form a {
  box-shadow: 1px 1px 2px black;
  padding-top: 10px;
  text-decoration: none;
  color: black;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  border: none;
  outline: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

#Contact .container .contactMap .form a:hover {
  color: white;
}

#Contact .container .contactMap .form .formGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

#Contact .container .contactMap .form .formGroup input {
  border: 0;
  outline: none;
  border-bottom: 1px solid orange;
}

@media only screen and (max-width: 992px) {
  #Contact .container .contactContent {
    display: block;
  }
  #Contact .container .contactContent .box .contactIcons .socialGrid {
    padding-left: 50px;
  }
}

footer {
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: black;
  background-color: rbga(0, 0, 0, 0.7);
  font-size: 500;
}
/*# sourceMappingURL=main.css.map */